buatkan nama, nim, jumlahkan nim, buat hitung variabel yang diambil

In [15]:
nama ="Putri Sabrina Metekohy"
nim = "0240801025"


jumlah_angka = len(nim)

print ("Nama:" , nama)
print ("NIM:", nim)
print ("Jumlah :", jumlah_angka)

Nama: Putri Sabrina Metekohy
NIM: 0240801025
Jumlah : 10

In [59]:
print ("putri")
print ("08")

putri
08

In [45]:
nama ="Putri Sabrina "
nim = "02"
jumlah_angka = len(nim)

print ("Nama:" , nama)
print ("NIM:", nim)
print ("Jumlah :", jumlah_angka)

Nama: Putri Sabrina
NIM: 02
Jumlah : 2

In [44]:
nama ="putri sabrina"
nim = "25"


print ("Nama =" , nama)
print ("NIM =" , nim)

Nama = putri sabrina
NIM = 25

In [28]:
nama = "brina"
nim = "008"

jumlah_angka = len(nim)

print ("nama:" , nama)
print ("nim:" , nim)
print ("jumlah_angka: " , jumlah_angka)

nama: brina
nim: 008
jumlah_angka:  3

In [18]:
Nim : 20240801025
jumlah_angka = len(nim)

print ("Nama: Putri Sabrina ")
print ("NIM: 20240801025"  )
print ("Jumlah :", jumlah_angka)

Nama: Putri Sabrina
NIM: 20240801025
Jumlah : 10

In [10]:
Nama : putri sabrina
NIM : 24

jumlah_angka = len(NiM)

print ("Nama:" , putri sabrina)
print ("NIM:" , 24")
print ("jumlah_angka:" , jumlah_angka)

SyntaxError: unterminated string literal (detected at line 7) (3534032495.py, line 7)

In [11]:
a = 3
b = 2

operasi = ( 3 * 2  )

print (operasi)

6

In [43]:
p = 4
s  = 5

operasi =( "Jumlahan = " , p * s )

print(operasi)

('Jumlahan = ', 20)

In [ ]:
a = 3
b = 8

hasil = ( 10)

print (hasil)

(6, 10)

In [58]:
print ( "3 * 2 = 10")

3 * 2 = 10

In [2]:
nama = "Putri Sabrina Metekohy"
nim = "0240801025"

nama_split = nama.split()
nama_depan = nama_split[0]
nama_tengah = nama_split[1]
nama_belakang = nama_split[2]


# Output
print("Nama Depan   :", nama_depan)
print("Nama Tengah  :", nama_tengah)
print("Nama Belakang:", nama_belakang)

Nama Depan   : Putri
Nama Tengah  : Sabrina
Nama Belakang: Metekohy

In [61]:
print("putri")
print("sabrina")
print("metekohy")

putri
sabrina
metekohy

In [3]:
int = 3
int = 3

operasi = ( 3 * 2 )

print ("hasil dari penjumlahan = ", operasi)

def jumlah(angka1, angka2):
    jumlah = angka1 * angka2
    print(jumlah)

jumlah(5,4)

hasil dari penjumlahan =  6
20

In [4]:
umur = 14

if umur <= 17:
    print("Kamu belum cukup umur untuk bikin KTP.")

Kamu belum cukup umur untuk bikin KTP.

In [62]:
a = 4
b = 6

hasil = ( a + b)
print(operasi)

10