buatkan nama, nim, jumlahkan nim, buat hitung variabel yang diambil

In [15]:
nama ="Putri Sabrina Metekohy"
nim = "0240801025"


jumlah_angka = len(nim)

print ("Nama:" , nama)
print ("NIM:", nim)
print ("Jumlah :", jumlah_angka)

Nama: Putri Sabrina Metekohy
NIM: 0240801025
Jumlah : 10

In [18]:
Nim : 20240801025
jumlah_angka = len(nim)

print ("Nama: Putri Sabrina ")
print ("NIM: 20240801025"  )
print ("Jumlah :", jumlah_angka)

Nama: Putri Sabrina
NIM: 20240801025
Jumlah : 10

In [11]:
a = 3
b = 2

operasi = ( 3 * 2  )

print (operasi)

6

In [16]:
nama = "Putri Sabrina Metekohy"
nim = "0240801025"

nama_split = nama.split()
nama_depan = nama_split[0]
nama_tengah = nama_split[1]
nama_belakang = nama_split[2]


# Output
print("Nama Depan   :", nama_depan)
print("Nama Tengah  :", nama_tengah)
print("Nama Belakang:", nama_belakang)

Nama Depan   : Putri
Nama Tengah  : Sabrina
Nama Belakang: Metekohy

In [17]:
int = 3
int = 3

operasi = ( 3 * 2  )

print (operasi)

6